<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="css.css">
   <title> gaymer blog </title>
</head>
<body class="body">
    <header>
        <nav class="nav">
            <a href="/view/1488">gayshit impact</a>
            <a href="#"> Туда</a>
            <a href="#">сюда</a>
            <a href="#">отсюда</a>
        </nav>
        FAP69fapfap
    </header>
    <div>
        <div>
            <div>
                <div>

                </div>
            </div>
        </div>
        <!--  <img src="img/ehe.jpg">-->
    </div>
</body>
</html>