<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>
    <section id ="header" class="clearfix">
        <div class="header_menu container">

        </div>
            <nav>
                <ul class="main-menu">
                    <li class = "menu-item">
                        <a href="#about">
                            о тебе
                        </a>
                    </li>
                    <li class="menu-item">
                    </li>
                </ul>
            </nav>
    </section>
</body>

</html>